@import "var";

.index-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .search-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        left: 2px;
        right: 0;
        z-index: 10000;
        width: 100%;
        height: 64px;
        background-color: #fff;
        border-bottom: 1px solid rgba(0,0,0,.12);
        .input {
            flex-grow: 1;
            height: 100%;
            padding: 0 16px;
            line-height: 64px;
            border: none;
            outline: none;
        }
    }
    .index-list-box {
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 16px;
        overflow: auto;
    }
    .empty {
        color: #999;
    }
}
.inline-category-box {
    position: relative;
    float: left;
    width: 400px;
    height: 100%;
    padding: 16px;
    margin-right: 16px;
    overflow: hidden;
    border-right: 1px solid rgba(0,0,0,.12);
}
.table-box {
    position: absolute;
    top: 0;
    left: 400px;
    right: 0;
    bottom: 0;
    height: 100%;
    /*width: 100%;*/
    padding: 16px;
    overflow: auto;
}
.category-box {
    z-index: 100000000;
    /*right: 32px;*/
    width: 100%;
    max-width: 400px;
    .body {
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 16px;
        overflow: auto;
    }
}
.index-list {
    float: left;
    /*border-right: 1px solid #e9e9e9;*/
    .item {
        margin-bottom: 8px;
    }
    .link {
        color: #333;
        &:hover {
            color: #009688;
        }
    }
    .deprecated {
        .link {
            color: #666;
            text-decoration: line-through;
        }
    }
}
.deprecated {
    opacity: 0.6;
    color: #666;
    text-decoration: line-through;
}
.table-list {
    float: left;
    //padding-left: 320px;
    .item {
        padding-top: 16px;
        margin-bottom: 24px;
        &.deprecated {
            opacity: .5;
            .table-name {
                text-decoration: line-through;
            }
        }
    }
}
table {
    width: 100%;
    max-width: 960px;
    th {
        background-color: #e9e9e9;
    }
    th,
    td {
        padding: 8px 16px;
        border: 1px solid #ccc;
    }
    .table-name {
        font-weight: bold;
        /*text-align: center;*/
    }
    .column-name {
        width: 160px;
    }
    .column-name2 {
        width: 120px;
    }
    .column-data-type {
        width: 160px;
    }
    .column-null {
        width: 96px;
    }
    .column-default {
        width: 240px;
    }
}
.badge {
    margin-left: 8px;
}
.pk {
    display: inline-block;
    margin-left: 8px;
}
//.index-box {
//    display: inline-block;
//    max-width: 800px;
//    padding: 16px;
//    background-color: #fff;
//    box-shadow: 0 3px 10px rgba(0,0,0,.156863), 0 3px 10px rgba(0,0,0,.227451);
//    .title {
//        margin-bottom: 16px;
//        font-size: 16px;
//    }
//}
@media all and (min-width: 1400px) {
    .index-box {
        //position: fixed;
        //top: 80px;
        //right: 32px;
        //z-index: 1000;
        //overflow: auto;
    }
}
@media all and (max-width: 800px) {
    .inline-category-box {
        display: none;
    }
    .table-box {
        left: 0;
    }
}

.value-list {
    background-color: #f3f3f3;
    border: 1px solid #eee;
    padding: 8px 16px;
    .item {
        margin-bottom: 4px;
    }
    .name {
        padding: 0.2em 0.4em;
        margin: 0;
        font-size: 85%;
        //background-color: rgba(27,31,35,0.05);
        border-radius: 3px;
    }
    .description {}
}